*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(46, 2, 46);
}
h2{
    font-family:monospace;
}
p{
    font-family: sans-serif;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 100px;
}
body::-webkit-scrollbar-button{
    background-color: #000000;
}
body::-webkit-scrollbar-track-piece{
    background-color: transparent;
}
.noticias::-webkit-scrollbar{
    width: 12px;
}
.noticias::-webkit-scrollbar-thumb{
    height: 50px;
    background-color: #ffffff;
    border-radius: 100px;
}
.noticias::-webkit-scrollbar-button{
    background-color: #000000;
}
.noticias::-webkit-scrollbar-track-piece{
    background-color: transparent;
}
.reviews::-webkit-scrollbar{
    width: 12px;
}
.reviews::-webkit-scrollbar-thumb{
    height: 50px;
    background-color: #ffffff;
    border-radius: 100px;
}
.reviews::-webkit-scrollbar-button{
    background-color: #000000;
}
.reviews::-webkit-scrollbar-track-piece{
    background-color: transparent;
}
.categoriasJuego::-webkit-scrollbar{
    width: 12px;
}
.categoriasJuego::-webkit-scrollbar-thumb{
    height: 30px;
    background-color: #ffffff;
    border-radius: 100px;
}
.categoriasJuego::-webkit-scrollbar-button{
    background-color: #000000;
}
.categoriasJuego::-webkit-scrollbar-track-piece{
    background-color: transparent;
}
.imagen{
    background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2022/01/steam-2594191.jpg?tf=1200x);
    height: 50vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-origin: content-box;
    background-attachment: fixed;
    background-position: center;
    background-position: left;
    justify-content: flex-start;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    transition: filter 0.5s ease;
}
.blur {
    filter: blur(10px);
  }
.inp input{
    display: flex;
    height: 4vh;
    width: 100%;
    margin-left: 3.5%;
    justify-content: center;
    text-align: -webkit-center;
    border: none;
    border-radius: 17px;
    background-color: #d9d9d9;
    color: white;
}
input:active {
    background-color: transparent;
    border: 3px solid #ffffff;
    box-shadow: 2px 2px 15px #7642a7 inset;
}
input:focus {
    background-color: transparent;
    box-shadow: 2px 2px 15px #8707ff inset;
}
.navegadora{
    background-color: rgb(46, 2, 46);
    display: flex;
    height: 12vh;
    width: 99%;
    box-shadow: rgb(22, 1, 22) 0px 3px 20px 8px;
    border-style: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    position: fixed;
    z-index: 9999;
    top: 0;
    border-radius: 5px;
}
.inp{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.container-fluid{
    width: 95%;
    margin: auto;
    background-color: rgba(37, 4, 37, 0.774);
    margin-top: 10vh;
}
.categoriasJuego{
    display: flex;
    flex-direction: column;
    height: 36vh;
    background-color: rgb(46, 2, 46);
    box-shadow: rgb(22, 1, 22) 0px 3px 20px 8px;
    padding-top: 2vh;
    padding-left: 8%;
    flex-direction: column;
    overflow: auto;
    color: white;
    border-radius: 10px;
}
.categoriasJuego p{
    font-size: 1.1rem;
}
.boton{
    display: flex;
    margin-top: 0.5vh;
}
.boton button{
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right, rgba(41, 3, 41, 0.774), #ffffff, rgb(221, 192, 221), rgb(46, 2, 46));
    color: rgb(39, 31, 31);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-size: 300% 100%;
    
}
button:hover {
    transition:background-position 2s;
    background-position: 100% 0;
}
.noticias{
    height: 40vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    border-radius: 10px;
    background-color: rgba(37, 4, 37, 0.87);
    box-shadow: rgb(22, 1, 22) 0px 3px 20px 8px;

}
.reviews{
    background-color: rgb(46, 2, 46);
    box-shadow: rgb(22, 1, 22) 0px 3px 20px 8px;
    height: 32vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    border-radius: 10px;

}
.img{
    height: 70vh;

}
.img img{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.img2{
    height: 30vh;

}
.img2 img{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
.title{
    color:  rgb(255, 229, 229);
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.fecha{
    background-color: rgb(61, 48, 61);
    border-radius: 10px;
    height: 8vh;
}
.precio{
    background-color: #d9d9d9;
    height: 8vh;
    border-radius: 10px;

}
.descripcion{
    background-color: rgb(46, 2, 46);
    box-shadow: rgb(22, 1, 22) 0px 3px 20px 8px;
    height: auto;
    border-radius: 10px;
    padding: 5%;
}
.descripcion p{
    color: white;
    font-size: 1.6rem;
}
.text{
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.6rem;
    
}
.text:hover {
    font-weight: bold;
    font-size: 1.8rem;
}
.text2{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.6rem;
}
.text2:hover {
    font-weight: bold;
    font-size: 1.8rem;
}
.input-group {
    display: flex;
    align-items: center;
}

.input {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}

.button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.button--submit:hover {
    background-color: #5e5dcd;
}

.input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
}
.tarjetas{
    border: 2px solid rgb(83, 4, 83); 
    padding: 2%;  
    margin-top: 2%; 
    border-radius: 10px;
}
.tarj{
    margin-bottom: 3%;
}
.tituloNoticias{
    color: antiquewhite;
    font-weight: 600;
    align-self: center;
    display: flex;
}
.parrafoNoticias{
    color: white;
    margin-left: 1.5%;
}