*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(46, 2, 46);
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 100px;
}
body::-webkit-scrollbar-button{
    background-color: #000000;
}
body::-webkit-scrollbar-track-piece{
    background-color: transparent;
}
.imagen{
    background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2022/01/steam-2594191.jpg?tf=1200x);
    height: 50vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-origin: content-box;
    background-attachment: fixed;
    background-position: center;
    background-position: left;
    justify-content: flex-start;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    transition: filter 0.5s ease;
}
.blur {
    filter: blur(10px);
  }
.inp input{
    display: flex;
    height: 4vh;
    width: 100%;
    margin-left: 3.5%;
    justify-content: center;
    text-align: -webkit-center;
    border: none;
    border-radius: 17px;
    background-color: #d9d9d9;
    color: #380038;
}
.navegadora{
    background-color: rgb(46, 2, 46);
    display: flex;
    height: 12vh;
    width: 99%;
    box-shadow: rgb(22, 1, 22) 0px 3px 20px 8px;
    border-style: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 0.5%;
    position: fixed;
    z-index: 9999;
    top: 0;
    border-radius: 5px;
}
.inp{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.container-fluid{
    width: 95%;
    margin: auto;
    background-color: rgba(37, 4, 37, 0.774);
    margin-top: 10vh;
}
.categoriasJuego{
    display: flex;
    flex-direction: column;
    height: 36vh;
    background-color: #ffffff;
    padding-top: 2vh;
    padding-left: 3%;
    flex-direction: column;
}
.boton{
    display: flex;
    margin-top: 0.5vh;
}
.boton button{
    border: none;
    border-radius: 40px;
    padding: 10px;
    background: linear-gradient(to right, rgba(41, 3, 41, 0.774), #ffffff, rgb(221, 192, 221), rgb(46, 2, 46));
    color: rgb(39, 31, 31);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-size: 300% 100%;
    
}
button:hover {
    transition:background-position 3s;
    background-position: 100% 0;
}
.noticias{
    background-color: antiquewhite;
    height: 40vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-top: 3%;

}
.reviews{
    background-color: rgb(192, 169, 140);
    height: 32vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
.img{
    background-color: rgb(192, 169, 140);
    height: 50vh;
}
.img2{
    background-color: rgb(192, 169, 140);
    height: 30vh;
}
.title{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;

}
.fecha{
    background-color: antiquewhite;
    height: 8vh;
}
.precio{
    background-color: rgb(56, 44, 29);
    height: 8vh;
}
.descripcion{
    background-color: rgb(255, 255, 255);
    height: 40vh;
}
